@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  --bg-color: rgba(0, 0, 0, 0.55) !important;
  --fg-color: rgba(255, 255, 255, 0.8);
  --fg-color-0: var(--fg-color);
  --fg-color-1: var(--fg-color);
  --fg-color-2: var(--fg-color);
  --fg-color-3: var(--fg-color);
  --fg-color-4: var(--fg-color);
  --fg-color-5: rgba(255, 255, 255, 0.8);
  --fg-color-6: rgba(255, 255, 255, 0.8);
  --fg-color-icon: rgba(255, 255, 255, 0.8);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black !important;
}

body {
  overflow-x: hidden;
}

.utterances {
  max-width: 100% !important;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.blur-card {
  background: transparent;
  backdrop-filter: saturate(180%) blur(8px);
}

.light-mode {
  --bc: var(--fg-color);
}

.light-mode .opacity-80 {
  opacity: 1;
}
